
.footer-bg-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    padding-top: 60px;
    background-color: #000;
}
.f-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

.logo{
    width: 80px;
    height: 80px;
}
.fr{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin-top: 26px;
}

.paragraph{
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff9e ;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    align-self: flex-start;
    text-align: left;
}

.num-input{
    width: 190px;
    height: 45px;
    border: solid 0px;
    background-color: #3e3d3de0;
    border-radius: 8px;
    outline: none;
    color: white;
    font-size: 18px;
    padding-left: 57px;
   
}

.nums{
    width: 55px;
    height: 38px;
    border:solid 0px #ffffff ;
    background-color: #3e3d3de0;
    border-style: solid;
    border-radius: 8px;
    z-index: 1;
    color: #fff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right:solid 1px #fff;
    position: absolute;
   margin-top: 5px;
}

.lab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: #00A6FF;
    width: 55px;
    height: 47px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -40px;
}

.serv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
}
.h{
    color: #fff;
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    text-align: left;
}

li{
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff9e ;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    align-self: flex-start;
    text-align: left;
    margin: 8px;
}

a{
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff9e ;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    align-self: flex-start;
    text-align: left;
    margin: 8px;
    text-decoration: none;
}

.ul-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.hr{
    width: 100%;
    border: solid 0.5px #ffffff9e;
}

.copyright{
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff9e ;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    align-self: flex-start;
    text-align: left;
    margin: 8px;
}
.c-spa{
    font-size: 23px;
    margin-bottom: 0;
}

@media (max-width:572px){
    
.footer-bg-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    padding-top: 60px;
    background-color: #000;
}
.f-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.f-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.logo{
    width: 80px;
    height: 80px;
}
.fr{
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin-top: 26px;
}

.paragraph{
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff9e ;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    align-self: flex-start;
    text-align: left;
}

.num-input{
    width: 190px;
    height: 45px;
    border: solid 0px;
    background-color: #3e3d3de0;
    border-radius: 8px;
    outline: none;
    color: white;
    font-size: 18px;
    padding-left: 57px;
   
}

.nums{
    width: 55px;
    height: 38px;
    border:solid 0px #ffffff ;
    background-color: #3e3d3de0;
    border-style: solid;
    border-radius: 8px;
    z-index: 1;
    color: #fff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right:solid 1px #fff;
    position: absolute;
   margin-top: 5px;
}

.lab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: #00A6FF;
    width: 55px;
    height: 47px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -40px;
}

.serv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
}
.h{
    color: #fff;
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    text-align: left;
}

li{
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff9e ;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    align-self: flex-start;
    text-align: left;
    margin: 8px;
}

a{
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff9e ;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    align-self: flex-start;
    text-align: left;
    margin: 8px;
    text-decoration: none;
}

.ul-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.hr{
    width: 100%;
    border: solid 0.5px #ffffff9e;
}

.copyright{
    font-family:"Inter",Arial, Helvetica, sans-serif,Georgia, 'Times New Roman', Times, serif  ;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff9e ;
    margin: 10px 0px 13px 0px;
    padding-bottom: 5px;
    align-self: flex-start;
    text-align: left;
    margin: 8px;
}
.c-spa{
    font-size: 23px;
    margin-bottom: 0;
}
}